/* G마켓 산스 */
@font-face {
    font-family: 'GmarketSans';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSans';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSans';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/* 망고보드또박체 */
@font-face {
    font-family: 'Mango';
    src: url(../font/MangoDdobak-B\(ttf\).ttf);
    font-weight: 300;
}
@font-face {
    font-family: 'Mango';
    src: url(../font/MangoDdobak-R\(ttf\).ttf);
    font-weight: 200;
}
@font-face {
    font-family: 'Mango';
    src: url(../font/MangoDdobak-L\(ttf\).ttf);
    font-weight: 100;
}