/* 외부로그인 */
@charset "utf-8";

/* 아웃로그인 스킨 */
.ol {position:relative;margin:20px;}
.ol h2 {text-align: center;    font-size: large !important;}

.ol a.btn_admin,#ol_after_logout {display:inline-block;padding:0 10px;height:25px;text-decoration:none;line-height:25px;vertical-align:middle} /* 관리자 전용 버튼 */
.ol a.btn_admin:focus, .ol a.btn_admin:hover {text-decoration:none}

#ol_before {}
#ol_before:after {display:block;visibility:hidden;clear:both;content:""}
#ol_before .ol_wr{position:relative;border:1px solid #b7bece;margin-bottom:5px}
#ol_id {display:block;width:185px;border:1px solid #fff;padding:0 10px;height:32px}
#ol_pw {display:block;width:185px;border:1px solid #fff;padding:0 10px;border-top:1px solid #ededed;height:32px}
#ol_submit {position:absolute;top:0;right:0;width:76px;height:64px;background:#fff;border-left:1px solid #ccc;color:#000;font-weight:bold;font-size:1.167em}
#ol_svc {float:right;line-height:20px}
#ol_svc a{display:inline-block;color:#555;margin:0 5px}
#ol_auto {float:left;line-height:20px}
#ol_auto label {color:#555}
#ol_auto input {width:13px;height:13px} 
.ol_auto_wr:after {display:block;visibility:hidden;clear:both;content:""}

#ol_after {background:#fff;border: 1px solid #d2d9e6; border-bottom: 1px solid #c1ccda;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
box-shadow:0 1px 2px rgba(0,0,0,0.1)}
#ol_after_hd {position:relative;margin:0 0 10px;padding:10px;padding-left:80px;height:72px;}
#ol_after_hd strong{display:block;margin:5px 0}
#ol_after_hd .profile_img{position:absolute;top:15px;left:15px;display:inline-block;}
#ol_after_hd .profile_img img{border:1px solid #bbb;border-radius:50%;width:50px;height:50px}
#ol_after_hd .profile_img a{
    display: block;
    font-size: 12px;
    margin: 5px 0 0 3px;
    color: #555;
}
#ol_after_info i{
    display: none !important;
}
#ol_after_hd .btn_admin,#ol_after_logout {background-color: #166856b2; color: #fff;}
#ol_after_hd .btn_b04{line-height:23px;padding:0 5px}
#ol_after_private {background:#f7f7f7;border-top: 1px solid #e8e8e8;zoom:1;display: grid; grid-template-columns: 1fr;}
#ol_after_private:after {display:block;visibility:hidden;clear:both;content:""}
#ol_after_private li {margin-bottom:1px;position:relative;float:left;width:100%;text-align:center}
#ol_after_private a {display:flex;gap: 5px; color:#444;line-height:20px;border-left:1px solid #e8e8e8;padding:10px; box-sizing: border-box; align-items: center;}
#ol_after_private li:first-child a{border-left:0}
#ol_after_private a strong {display:inline-block;max-width:87px;overflow:hidden;white-space:nowrap;text-overflow:clip;background:#54a593;color:#fff;padding:0 8px;border-radius:15px;font-size:0.92em;box-shadow:inset 2px 1px 3px rgba(0,0,0,0.2)}
#ol_after_private a strong.scrap{padding:0 14px}
#ol_after_private a:hover strong{background:#009966}
#ol_after_private li a:hover{color:#009966;background:#f1f1f1}
#ol_after_memo {margin-right:1px}
#ol_after_pt {margin-right:1px}

#ol_before .btn_b01{
    width: 250px;
    margin: 10px auto;
    display: block;
    height: 60px;
    background: #009e72;
    text-align: center;
    line-height: 60px;
    border-radius: 90px;
    font-size: 20px;
    border: 1px solid #009e72;
    box-sizing: border-box;
    color: #fff;
}
#ol_before .btn_b02{
    text-align: center;
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: #555;
}


/* //외부로그인 */



#full-header{
    display: none;
    position: fixed;
}
.full_header_wrap{
    max-width: 100%;
    height: 80px;
    padding: 0 20px;
    box-sizing: border-box;
}
.full-nav-main{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.full-nav{
    position: absolute;
    right: 0;
    width: 20%;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    background-color: #eee;
    display: none;
    flex-direction: column;
    align-items: center;
}
.full-nav>li{
    width: 100%;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}
.full-nav>li:last-child{
    border: none;
}
.full-nav>li>a{
    display: block;
    padding: 15px 0;
    box-sizing: border-box;
    font-size: 14px;
}
.full-sub-nav{
    background-color: #ffc862;
    display: none;

}
.full-sub-nav>li>a{
    display: block;
    padding: 8px 5px;
    box-sizing: border-box;
}
.full-nav-btn i{
    font-size: 25px;
    cursor: pointer;
}
.close{
    display: none;
}




#header{
    display: block;
}
header{
    width: 100%;
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid #2d338e;
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
}
.header_wrap{
    max-width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    position: relative;
}
.logo{
    display: block;
    width: 150px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.nav>li{
    width: 180px;
    height: 80px;
    position: relative;
}
.nav>li>a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 80px;
}
.sub-nav{
    margin-top: 1px;
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
}
.sub-nav li a{
    display: block;
    width: 180px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    transition: 0.2s;
    font-size: 0.93rem;
}
.sub-nav li a:hover{
    background-color: #c5e3c0;
}
.sub_nav_bg{
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 251px;
    background-color: #fff;
    /* box-shadow: 0px 0px 13px #ccc; */
    z-index: 10;
    display: none;
    border-top: 1px solid #2d338e;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}

@media screen and (max-width:1440px) {
    .nav{
        display: none;
    }
    .header_wrap{
        justify-content: space-between;
        padding: 0 20px;
        box-sizing: border-box;
    }
    .full-nav{
        width: 50%;
    }
    #ol_after_private{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width:1280px) {
    .full-nav>li>a{
        font-size: 14px;
    }
    #ol_before .btn_b01{
        height: 50px;
        line-height: 50px;
        font-size: 18px;
    }
}
@media screen and (max-width:860px) {
    .full-nav{
        width: 100%;
    }
    header{
        height: 80px;
    }
    .logo{
        width: 110px;
    }
}
@media screen and (max-width:428px) {
    #ol_after{
        margin: 0 auto;
    }
    #ol_after_private a{
        flex-direction: column;
        font-size: 12px;
        justify-content: center;
        height: 100%;
    }
}