/* 공지사항 i, 댓글 제거 */
.latest_board i,.cnt_cmt{
    display: none !important;
}

/* 공지사항 아이콘 */
.home_notice{
    width: 25px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}

/* 최신글 */
.latest_board h1,.latest_board .btn_more{
    display: none !important;
}
.latest_board .title_icon{
    display: none !important;
}


/* main */
main{
    width: 100%;
    height: 100vh;
    background-image: url(../img/main.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
main::before{
    content: '';
    width: 100%;
    height: 100% !important;
    background-color: #000;
    opacity: 0.25;
    position: absolute;
    top: 0;
    height: 0;
}
.main_wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
}
.img_box{
    width: 80px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    transition: 0.2s;
}
.shortcut_box{
    display: flex;
}
.text_box{
    text-align: center;
    color: #fff;
}
.text_box h1{
    font-family: 'Mango';
    font-size: 5rem;
    line-height: 4.5rem;
}
.text_box h1 span{
    font-size: 3.7rem;
}
.text_box p{
    font-size: 1.31rem;
    margin-top: 10px;
    font-weight: 100;
}
.shortcut_box{
    width: 1440px;
    position: relative;
    background-color: rgba(22, 104, 86, 0.699);
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 12px;
    box-shadow: 0px 0px 20px #777;
    margin-top: 100px;
}
.shortcut{
    width: 100%;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    /* padding: 1.5rem 4rem; */
    box-sizing: border-box;
    border-right: 1px dotted #fff;
    gap: 10px;
    font-size: 17px;
}
.shortcut:hover .img_box{
    opacity: 1;
}
.bordernone{
    border: none;
}

@media screen and (max-width:1440px) {
    .img_box{
        width: 80px;
    }
    .shortcut_box{
        margin-top: 50px;
        width: 1280px;
    }
}
@media screen and (max-width:1280px) {
    .text_box h1{
        font-size: 4rem;
        line-height: 3.5rem;
    }
    .text_box h1 span{
        font-size: 3rem;
    }
    .text_box p{
        font-size: 1.2rem;
    }
    .img_box{
        width: 70px;
    }
    .shortcut{
        padding: 1rem 0;
    }
    .shortcut_box{
        width: 1024px;
    }
}
@media screen and (max-width:1024px) {
    .shortcut_box{
        width: 860px;
    }
}
@media screen and (max-width:860px) {
    .main_wrap{
        width: 100%;
        height: 100%;
        position: relative;
    }
    .shortcut_box{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .shortcut{
        border: none;
        padding: 30px 0;
        width: auto;
        flex-direction: row;
        /* padding: 0; */
        font-size: 1.2rem;
    }
    .text_box{
        position: absolute;
        top: 37%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }
    .shortcut:first-child{
        border-right: 1px solid #ffffff79;
    }
    .shortcut:nth-child(3){
        border-top: 1px solid #ffffff79;
        border-right: 1px solid #ffffff79;
    }
    .shortcut:nth-child(4){
        border-top: 1px solid #ffffff79;
    }
    .img_box{
        display: none;
    }
}
@media screen and (max-width:550px) {
    .text_box h1{
        font-size: 3rem;
    }
}
@media screen and (max-width:350px){
    .text_box{
        top: 40%;
    }
    .text_box h1{
        font-size: 2.7rem;
        line-height: 2.5rem;
    }
    .text_box h1 span{
        font-size: 2rem;
    }
    .text_box p{
        display: none;
    }
    .img_box{
        width: 50px;
    }
}
/* //main */


/* section01 */
.section01{
    background-color: #8cdb80;
    padding: 50px 0;
    box-sizing: border-box;
}
.section01_wrap{
    max-width: 1440px;
    margin: auto;
}
.section01_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.section01_text>div{
    /* width: 150px; */
    margin-bottom: 20px;
}
.section01_text>h2{
    font-size: 4rem;
    font-family: 'Mango';
    font-weight: 300;
    color: #009e72;
}
.section01_text>p{
    font-size: 1.8rem;
    font-family: 'Mango';
    font-weight: 200;
    color: #009e72;
}

.section01_btns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;

}
.shortcut_box02{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    transition: 0.2s;
}
.shortcut_box02 b{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}
.line{
    line-height: 2rem;
}
.shortcut_box02 .boxs_img{
    display: block;
    width: 180px;
}
.shortcut_box02 .text_more{
    font-size: 1rem;
    line-height: 1.2rem;
    display: block;
}
.boxs01{
    background-color: #e9a8a5;
}
.boxs01:hover{
    background-color:#ed908c;
    box-shadow: 0px 0px 10px #858585;
}
.boxs02{
    background-color: #62c9e6;
}
.boxs02:hover{
    background-color: #00b8eb;
    box-shadow: 0px 0px 10px #858585;
}
.boxs03{
    background-color: #ffc862;
}
.boxs03:hover{
    background-color: #ffb32a;
    box-shadow: 0px 0px 10px #858585;
}
.boxs04{
    background-color: #b68ebf;
}
.boxs04:hover{
    background-color: #976ca0;
    box-shadow: 0px 0px 10px #858585;
}
.boxs05{
    background-color: #59b880;
}
.boxs05:hover{
    background-color: rgb(57, 168, 103);
    box-shadow: 0px 0px 10px #858585;
}
@media screen and (max-width:1440px) {
    .section01_text>h2{
        font-size: 3rem;
    }
    .section01_text>p{
        font-size: 1.5rem;
    }
    .section01_text>div{
        width: 130px;
    }
    .section01_wrap{
        max-width: 1280px;
    }
    .shortcut_box02{
        padding: 20px;
    }
    .shortcut_box02{
        padding-bottom: 50px;
    }
    .shortcut_box02 .boxs_img{
        width: 130px;
    }
    .shortcut_box02 .text_more{
        font-size: 0.9rem;
        line-height: 1.1rem;
    }
}
@media screen and (max-width:1280px) {
    .section01_wrap{
        max-width: 1024px;
    }
    .section01_btns{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width:1024px) {
    .section01_wrap{
        max-width: 100%;
        margin: 0 10px;
        padding: 0 10px;
    }
    .section01_btns{
        gap: 10px;
    }
}
@media screen and (max-width:860px) {
    .section01_btns{
        grid-template-columns: 1fr;
    }
    .shortcut_box02{
        flex-direction: row;
        padding-bottom: 20px;
    }
    .shortcut_box02 .text_more{
        width: 100%;
        font-size: 1.2rem;
        line-height: 1.4rem;
    }
    .shortcut_box02 .boxs_img{
        display: none;
    }
    .section01_text>div{
        width: 100px;
    }
}
@media screen and (max-width:550px) {
    .section01_text>h2{
        font-size: 2rem;
    }
    .section01_text>p{
        font-size: 1.2rem;
    }
    .shortcut_box02{
        flex-direction: column;
        padding: 20px;
    }
    .section01_text{
        margin-bottom: 30px;
    }
}
/* //section01 */


/* section02 */
.section02{
    width: 100%;
    height: 350px;
    background-image: url(../img/section01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
}
.section02::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    }
.section02-wrap{
    width: 1440px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: auto;
    z-index: 2;
}
.section02_text{
    max-width: 100%;
    color: #fff;
}
.section02_text h2{
    font-size: 4rem;
    font-family: 'Mango';
    font-weight: 300;
    margin-bottom: 10px;
}
.section02_text p{
    font-size: 1.5rem;
    /* font-family: 'Mango'; */
    font-weight: 100;
    line-height: 2.5rem;
    padding-left: 5px;
}
@media screen and (max-width:1440px) {
    .section02-wrap{
        max-width: 1280px;
    }
    .section02_text h2{
        font-size: 3.5rem;
    }
    .section02_text p{
        font-size: 1.4rem;
    }
}
@media screen and (max-width:1280px) {
    .section02{
        height: 300px;
    }
    .section02-wrap{
        max-width: 1024px;
    }
    .section02_text h2{
        font-size: 3rem;
    }
    .section02_text p{
        font-size: 1.3rem;
        line-height: 1.8rem;
    }
}
@media screen and (max-width:1024px){
    .section02-wrap{
        max-width: 100%;
        margin: 0 10px;
    }
    .section02_text{
        width: auto;
        padding: 0 10px;
        box-sizing: border-box;
    }
}
@media screen and (max-width:860px) {
    .section02{
        height: 200px;
        overflow: hidden;
    }
}
@media screen and (max-width:550px) {
    .section02{
        display: none;
    }
    .shortcut_box02 b{
        height: 60px;
    }
    .line{
        margin: 7px 0;
        box-sizing: border-box;
    }
}
/* //section02 */


/* section03 */
.section03{
    width: 100%;
    background-color: #464b57;
}
.section03_more{
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
    padding: 50px 0;
    box-sizing: border-box;
}
.video{
    display: block;
    width: 100%;
    height: 350px;
    border-radius: 20px;
    background-image: url(../img/video.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.notice,.photo{
    width: 100%;
    /* min-height: 500px; */
    border-radius: 20px;
    background-color: #fff;
}
.notice{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 30px 20px;
    box-sizing: border-box;
    gap: 20px;
}
.photo{
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.photo01{
    background-image: url(../img/notice-img01.png);
}
.photo02{
    background-image: url(../img/notice-img02.png);
}
.notice_t{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #389aca;
    border-bottom: 1px solid #ddd;
    padding: 8px 0;
    box-sizing: border-box;
}
.notice_t>p{
    font-size: 20px;
    font-weight: 700;
}
.notice_t>a>i{
    font-size: 20px;
}
.notice_m{
    padding: 20px 0;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
}
.n_m{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #389aca;
}
.n_m>div>i{
    color: #fff !important;
    padding: 5px;
    border-radius: 20px;
    background-color: #389aca;
}
.notice_m>a{
    font-size: 1.2rem;
    margin-top: 10px;
    padding-left: 5px;
    box-sizing: border-box;
    display: block;
}
.notice_b ul li{
    list-style: '-';
}
.notice_b ul li a{
    display: flex;
    justify-content: space-between;
    padding: 8px 5px;
}
.notice_b ul li a strong{
    font-weight: 200 !important;
}
.notice_b ul{
    padding: 0 10px;
    box-sizing: border-box;
}
.photo-wrap{
    width: 350px;
}
.photo{
    overflow: hidden;
    position: relative;
}
.photo img{
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@media screen and (max-width:1440px) {
    .section03_more {
        max-width: 1280px;
    }
}
@media screen and (max-width:1280px) {
    .section03_more {
        max-width: 1024px;
    }
    .notice{
        gap: 10px;
    }
    .notice_b ul li a{
        font-size: 0.95rem;
    }
}
@media screen and (max-width:1024px) {
    .section03{
        padding: 50px 0;
    }
    .section03_more{
        max-width: 100%;
        margin: 0 10px;
        padding: 0 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .notice{
        width: 48.5%;
    }
    .photo{
        width: 48.5%;
        min-height: 300px;
    }
}
@media screen and (max-width:860px) {
    .section03{
        padding: 30px 0;
        box-sizing: border-box;
        min-height: auto;
    }
    .section03_more{
        box-sizing: border-box;
    }
}
@media screen and (max-width:760px) {
    .notice,.photo-wrap,.photo{
        width: 100%;
    }
}

/* //section03 */
