* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

html,
body {
    font-size: 14px;
    font-family: 'GmarketSans';
    font-weight: 200;

}

.body_wrap {
    /* overflow-x: hidden; */
}

@media screen and (max-width:860px) {

    html,
    body {
        font-size: 12px;
    }
}