/* 모바일 서브 */
.mobile-nav,.mobile-nav li{
    width: 100%;
}

@media screen and (max-width:1024px){
    .address-wrap-sub-num{
        grid-template-columns: 1fr 1fr 1fr 1fr !important;
    }
    .sub-main-nav ul li,.address-wrap-sub-num li:first-child{
        border: none;
    }
    .sub-main-nav ul li{
        border-right: 1px solid #ccc !important;
        height: 100%;
    }
    .sub-main-nav ul li:last-child{
        border-right: none !important;
    }
}




.ex-img01{
    background-image: url(../../img/sub/eximg01.jpg);
}
.ex-img02{
    background-image: url(../../img/sub/eximg02.jpg);
}
.ex-img03{
    background-image: url(../../img/sub/eximg03.jpg);
}
.ex-img04{
    background-image: url(../../img/sub/facilities05.png);
}
.ex-img05{
    background-image:url(../../img/sub/eximg05.jpg);
}
.ex-img06{
    background-image:url(../../img/sub/eximg06.jpg);
}

.experience{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 50px 0;
}
.ex-box{
    background-color: #eee;
    border-radius: 13px;
    display: flex;
    padding: 20px;
    gap: 30px;
    box-sizing: border-box;
}
.ex-img{
    width: 40%;
    height: 200px;
    background-color: #555;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ex-more{
    width: 60%;
}
.ex-border{
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #555;
    margin: 10px 0;
}
.ex-dl-box dl{
    display: flex;
    align-items: center;
    gap: 5px;
}
.ex-dl-box dt,.ex-title h2{
    color: #06855a;
}
.ex-title h2{
    font-size: 30px;
}
.ex-btn{
    display: block;
    width: 190px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #3b6d5c;
    box-sizing: border-box;
    border-radius: 5px;
    color: #fff;
    margin-top: 15px;
}

@media screen and (max-width:550px) {
    .ex-box{
        flex-direction: column;
    }
    .ex-img,.ex-more{
        width: 100%;
    }
    .ex-title p,.ex-title h2{
        text-align: center;
    }
    .ex-dl-box{
        display: grid;
        grid-template-columns: 1fr;
        padding: 0 10px;
        box-sizing: border-box;
    }
    .ex-btn{
        margin: auto;
        margin-top: 30px;
    }
    .ex-title h2{
        font-size: 25px;
    }
}


/* 뒤로가기 */
.back-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.back-btn a{
    display: block;
    width: 120px;
    height: 40px;
    background-color: #3b6d5c;
    line-height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 8px;
}
@media screen and (max-width:550px) {
    .back-btn a{
        width: 100px;
        height: 35px;
        line-height: 35px;
    }
}