@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);


.latest_board { position:relative; width:354px; }
.latest_board h1{ margin-bottom:13px; font-size:15px;  font-family: 'Nanum Gothic', serif; }
.latest_board ul { padding:0;border-top:1px solid #231f20; }
.latest_board ul li { list-style: none; padding:0 10px; padding-top:13px; height:26px; border-bottom:1px solid #d3d0cf; font-family: 'Nanum Gothic', serif;}
.latest_board .btn_more { position:absolute; top:-10px; right:0; width:26px; height:25px; text-indent:-9999em; background:url(./img/bg_btn_more.gif) no-repeat; }
.latest_board .category { float:left; width:109px; color:#ed6851; }

