.farm-img{
    display: block;
    width: 300px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    border: 2px solid #ccc;
}
.farm-img01{
    background-image: url(../../img/farm/farm01.jpg);
}
.farm-img02{
    background-image: url(../../img/farm/farm02.jpg);
}
.farm-img03{
    background-image: url(../../img/farm/farm03.jpg);
}
.farm-img04{
    background-image: url(../../img/farm/farm04.jpg);
}
.farm-img05{
    background-image: url(../../img/farm/farm05.jpg);
}
.farm-img06{
    background-image: url(../../img/farm/farm06.jpg);
}

.farm-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:  80px 30px;
}
.farm-wrap>div{
    display: flex;
    justify-content: center;
}
.farm-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    font-size: 20px;
}
.farm-sub h1{
    margin-bottom: 5px;
}
@media screen and (max-width:1024px) {
    .farm-img,.farm-box{
        width: 100%;
    }
}
@media screen and (max-width:860px) {
    .farm-wrap{
        grid-template-columns: 1fr 1fr;
    }
    .farm-img{
        width: 100%;
        height: 200px;
    }
    .farm-box{
        width: 100%;
        font-size: 17px;
    }
}
@media screen and (max-width:550px) {
    .farm-wrap{
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .farm-sub-bg{
        min-height: 250px !important;
        margin-top: 5px;
    }
    .farm-sub table tr{
        display: grid !important;
        grid-template-columns: 1fr;
    }
    .farm-sub table tr td{
        border-bottom: none;
    }
    .farm-sub table tr td:last-child{
        border-bottom: 1px solid #ccc !important;
    }
    .farm-sub table{
        border: none;
    }
    .farm-sub{
        gap: 20px !important;
        padding: 30px 20px !important;
    }
}

/* 서브 공통 */
.farm-sub-bg{
    width: 100%;
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}
.farm-sub-bg01{
    background-image: url(../../img/farm/farm01.jpg);
}
.farm-sub-bg02{
    background-image: url(../../img/farm/farm02.jpg);
}
.farm-sub-bg03{
    background-image: url(../../img/farm/farm03.jpg);
}
.farm-sub-bg04{
    background-image: url(../../img/farm/farm04.jpg);
}
.farm-sub-bg05{
    background-image: url(../../img/farm/farm05.jpg);
}
.farm-sub-bg06{
    background-image: url(../../img/farm/farm06.jpg);
}
.farm-sub{
    display: flex;
    /* flex-direction: column; */
    /* background-color: #eee; */
    border: 2px solid #eee;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 5px;
}
.farm-sub ul{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    /* align-items: center; */
    /* justify-content: center; */
}
.farm-sub ul li span{
    display: block;
    border: 1px solid #f00;
    background-color: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #f00;
    border-radius: 80px;
}
.farm-sub ul li{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 10px;
}

.ml{
    display: block;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 32px;
    color: #f00;
    border-radius: 30px;
    border: 1px solid #f00;
}
.back{
    display: block;
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin: auto;
    margin-top: 50px;
    background-color: #3b6d5c;
    color: #fff;
    border-radius: 8px;
}
@media screen and (max-width:1280px) {
    .farm-sub{
        flex-direction: column;
    }
    .farm-sub ul{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .farm-sub ul li{
        flex-direction: column;
        justify-content: center;
    }
    .farm-sub ul li p{
        text-align: center;
        font-size: 11px;
    }
    .farm-sub ul li span{
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
}
@media screen and (max-width:860px) {
    .farm-sub ul{
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .farm-sub ul li{
        flex-direction: column;
    }
    .farm-sub ul li p{
        font-size: 18px;
        text-align: center;
    }

}
@media screen and (max-width:550px) {
    .farm-sub ul li p{
        font-size: 14px;
    }
    .back{
        width: 100px;
        height: 35px;
        line-height: 35px;
    }
}