


.border{
    border: 1px solid #eee;
    margin: 50px 0;
    box-sizing: border-box;
}
.online-btn{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    background-color:#c0ebff;
    border-radius: 10px;
}
.camp01-btn{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
}
.camp01-btn button,.camp01-btn .down{
    display: block;
    padding: 15px;
    background-color: #eee;
    border: 1px solid #ccc;
    font-family: 'GmarketSans';
    font-weight: 200;
    border-radius: 10px;
    cursor: pointer;
}
.down{
    text-align: center;
}


body{
    position: relative;
}
.zoom{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000009c;
    width:  100%;
    height: 100%;
    z-index: 1001;
    display: none;
}
.zoom img{
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.zoom i{
    position: absolute;
    right: 50px;
    top: 50px;
    font-size: 30px;
    color: #fff;
    z-index: 10;
    cursor: pointer;
}
@media screen and (max-width:1024px) {
    .zoom{
        padding: 0 10px;
        box-sizing: border-box;
    }
    .zoom img{
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }
    .zoom i{
        top: 40px;
        right: 40px;
        font-size: 25px;
    }
}
@media screen and (max-width:375px) {
    .camp01-btn{
        grid-template-columns: 1fr;
    }
}