.mobile-nav{
    display: none;
}

@media screen and (max-width:1024px) {
    .pc-nav{
        display: none !important;
    }
    .mobile-nav{
        display: flex !important;
    }
    .address-wrap-sub-num{
        width: 100%;
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        background-color: #fff !important;
    }
    .address-wrap-sub-num li:first-child{
        border-right: 1px solid #ccc;
    }
}
@media screen and (max-width:400px){
    .more-btn-wrap ul li a{
        font-size: 10px;
    }
}



/* 방 버튼 */
.more-btn{
    width: 100%;
    margin-top: 20px;
}
.more-btn-wrap ul{
    display: flex;
    border-bottom: 1px solid #ccc;
}
.more-btn-wrap ul li a{
    display: block;
    padding: 10px 20px;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    /* border: 1px solid #ccc; */
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 25px;
}
.more-btn-wrap ul li a:first-child{
    border-left: 1px solid #ccc;
}
.point-btn{
    background-color: #596176;
    color: #fff;
}