.direction-address-wrap{
    width: 100%;
    background-color: #8cdb80;
    border-radius: 0 0 20px 20px;
    padding: 2rem 1.5rem;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.direction-address-wrap span{
    font-size: 1.5rem;
}
iframe{
    border-radius: 20px 20px 0 0;
}
.border02{
    width: 1px;
    height: 50px;
    background-color: #fff;
}
dl{
    display: flex;
    align-items: center;
}
dl:first-child{
    margin-bottom: 0.5rem;
}
dd{
    width: 100px;
}
.direction-bottom{
    margin-top: 50px;
}
.box-wrap{
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 3rem 2em;
    min-height: 250px;
}
.box-wrap h5{
    font-size: 1.5rem;
    color: #444;
}
.border{
    border: 1px solid #444;
    margin: 20px 0;
}
.more-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.box-wrap p span{
    display: block;
    color: #248d6e;
}
.padding-bottom{
    padding-bottom: 1.5rem;
}
@media screen and (max-width:1280px) {
    .direction-address-wrap{
        flex-direction: column;
    }
    .border02{
        width: 100%;
        height: 1px;
        margin: 20px 0;
    }
    .box-wrap h5{
        font-size: 1.3rem;
    }
    .box-wrap{
        padding: 2.5rem 1.5rem;
        min-height: 200px;
    }
    .more-box{
        gap: 10px;
    }
}
@media screen and (max-width:1024px) {
    .direction-address-wrap{
        border-radius: 20px;
        margin-top: 20px;
    }
    iframe{
        border-radius: 20px;
    }
    .direction-address-wrap>div{
        width: 100%;
    }
}
@media screen and (max-width:860px) {
    dd{
        width: 80px;
    }
}
@media screen and (max-width:550px) {
    .more-box{
        grid-template-columns: 1fr;
    }
    iframe{
        height: 250px !important;
    }
    dl{
        flex-direction: column;
        align-items: baseline;
    }
}