.sub-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.grid-box p{
    display: flex;
    align-items: center;
    height: 50px;
}
.grid-box p span{
    font-size: 1.3rem;
    margin-right: 1rem;
}
@media screen and (max-width:1280px) {
    .sub-grid{
        gap: 0 50px;
    }
    .grid-box{
        min-height: 330px;
    }
    .grid-box p{
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }
}
@media screen and (max-width:1024px) {
    .grid-box{
        min-height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .grid-box p{
        width: 100%;
        flex-direction: row;
        height: 50px;
        align-items: center;
    }
}
@media screen and (max-width:860px) {
    .sub-grid{
        gap: 0 50px;
    }
    .grid-box{
        min-height: 400px;
        justify-content: flex-start;
    }
}
@media screen and (max-width:550px) {
    .sub-grid{
        grid-template-columns: 1fr;
        gap: 50px 0;
    }
    .grid-box{
        min-height: auto;
    }
    .grid-box p{
        flex-direction: column;
        height: auto;
        margin-bottom: 1rem;
        text-align: center;
    }
}