.intro-text{
    margin-top: 2rem;
    font-size: 1.3rem;
    line-height: 2.5rem;
}

.btn-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 30px;
}
@media screen and (max-width:1440px) {
    .intro-text{
        font-size: 1.2rem;
    }
}
@media screen and (max-width:1280px) {
    .intro-text{
        font-size: 1.1rem;
        line-height: 2rem;
    }
}
@media screen and (max-width:1024px) {
    .intro-text{
        text-align: center;
    }
}
@media screen and (max-width:550px) {
    .intro-text{
        font-size: 1.2rem;
    }
    .btn-wrap{
        flex-direction: column;
    }
}