.calendar {
    padding: 40px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

/* 달력헤더 */
.calendar-header {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 1.1rem;
}

.nav-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #666;
    transition: color 0.2s;
}

.nav-btn:hover {
    color: #000;
}

/* 요일 행 */
.dow {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: 600;
    color: #666;
    font-size: 0.9rem;
    margin-bottom: 8px;
    width: 100%;
}

/* 날짜 그리드 */
.grid-7 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(7, 1fr);
}

/* 날짜 칸 */
.day {
    padding: 6px 8px;
    font-size: 0.9rem;
    color: #222;
    position: relative;
    transition: background 0.2s, color 0.2s;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.day:nth-of-type(1),
.day:nth-of-type(2),
.day:nth-of-type(3),
.day:nth-of-type(4),
.day:nth-of-type(5),
.day:nth-of-type(6),
.day:nth-of-type(7) {
    border-top: 1px solid #ddd;
}

.day:nth-of-type(1),
.day:nth-of-type(8),
.day:nth-of-type(15),
.day:nth-of-type(22),
.day:nth-of-type(29) {
    border-left: 1px solid #ddd;
}

.date {
    display: block;
    text-align: right;
    margin-bottom: 8px;
}

.schedule {
    display: block;
    width: 100%;
    text-align: center;
    background: #f1f1f1;
    padding: 10px 0;
    border-radius: 4px;
    transition: 0.2s ease-out;
}

.schedule:hover {
    background: var(--green);
    color: #fff;
}

@media screen and (max-width:480px) {
    .dow {
        width: 100%;
    }

    .grid-7 {
        width: 100%;
    }

    .day {
        max-width: 52px;
        height: 120px;
        padding: 4px;
    }

    .calendar {
        padding: 20px 10px;
    }
}

@media screen and (max-width:375px) {
    .day {
        max-width: 47px;
        height: 120px;
        padding: 2px;
    }
}